/* SECTION 14: FAN MAP */

/* Background*/
#section11 {
    background-image: url('../img/fanBackground.jpeg');
    background-size: cover;
    color: white;
    position: relative;
}

/* Dark overlay to increase contrast */
#section11::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}


#section11 .container {
    position: relative;
    z-index: 2;
}

/*HEADER*/
#headerFanMap {
    text-align: center;
    margin-bottom: 30px;
}

#headerFanMap h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#headerFanMap h4 {
    font-size: 1.2rem;
    /*color: #cccccc;*/
    margin-top: 15px;
    font-weight: normal;
}

/* UNDERLINE WITH TWO LINES*/
.line-container-14 {
    position: relative;
    top: 0;
    left: 140px;
}

.main-line-14 {
    width: 1004px;
    height: 10px;
    background-color: #CD2D1E;
    transform: skewX(-30deg);
}

.secondary-line-14 {
    width: 997px;
    height: 10px;
    background-color: #CD2D1E;
    transform: skewX(-30deg);
    margin-top: 3px;
}

.accent-line-14 {
    position: absolute;
    width: 10px;
    height: 23px;
    background-color: #CD2D1E;
    transform: skewX(-30deg);
    right: 270px;
    top: 0;
}

/* CONTENT LAYOUT */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.controls-container {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}


.slider-instruction {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    color: #cccccc;
    font-size: 16px;
}


#yearSlider {
    width: 250px;
    margin-bottom: 10px;
}

#yearLabel {
    margin-left: 10px;
    font-size: 16px;

}

/* KEY STATS*/
.key-stats {
    margin-top: 20px;
    background-color: rgba(35, 35, 35, 0.5);
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
}

.key-stats h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
}

.stat-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.stat-bullet {
    width: 30px;
    height: 30px;
    background: url("../img/racing.png") no-repeat center center / cover;
    margin-right: 15px;
    margin-top: 3px;
    flex-shrink: 0;
}

.stat-text {
    font-size: 16px;
    line-height: 1.4;
}

/* Intro text styling */
.intro-text {
    background-color: rgba(10, 16, 23, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    /*font-size: 1.2rem;*/
    color: white;
    font-size: 25px;
}

path:hover {
    cursor: pointer;
}