body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Scope styles inside #gp-visualization */
#gp-visualization #chart {
    width: 100vw;
    min-height: 100vh;
}

#gp-visualization #chart {
    width: 100%;
    height: 300%;
    border: 1px solid #ccc;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#gp-visualization {
    font-family: 'Roboto', sans-serif;
}

#gp-visualization text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#gp-visualization .text-label {
    text-anchor: middle;
    font-size: 12px;
    fill: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

#gp-visualization circle {
    filter: brightness(1.2) saturate(0.7);
}

#gp-visualization .duplicate-bar {
    filter: brightness(1.2) saturate(0.7);
}

#gp-visualization rect {
    filter: brightness(1.2) saturate(0.7);
}

#gp-visualization #toggleChart {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#gp-visualization #toggleChart:hover {
    background-color: #2980b9;
}

#gp-visualization .container {
    text-align: center;
}

.gp-tooltip {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999;
}


#gp-visualization #header-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    line-height: 1.6;
}

#gp-visualization #header-container::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: #ddd;
    margin: 20px auto;
}


#gp-visualization #header-container::before {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: #ddd;
    margin: 0 auto 20px auto;
}
